name: Build

on:
  push:
    branches: [ master ]
    paths-ignore:
    - 'doc/**'
    - 'readme.md'

  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.*
    - name: Test
      run: dotnet test --configuration Release
